# Visual Studio specific
.vs/
*.vscode/
*.user
*.suo
*.csproj.user

# Build results
bin/
obj/

#mine
Primeclass_Airport.Domain.Context/SqlServerDbContextFactory.cs
Primeclass_Airport.Api.WebApi/appsettings.json